<div class="container-todo">
    <app-input-button-unit (submit)="addItem($event)" />
    <div class="grid-list ">
        <div class="todo-app">
            <ul>
                <li *ngFor="let todoItem of todoList">
                    <app-todo-item [item]="todoItem" (remove)="removeItem($event)"
                        (update)="updateItem($event.item, $event.changes)" />
                </li>

            </ul>
        </div>
        <div class="todo-app">
            <ul>
                @for (todoItem of todoList; track $index) {
                <li>
                    <app-todo-item [item]="todoItem" (remove)="removeItem($event)"
                        (update)="updateItem($event.item, $event.changes)" />
                </li>
                }
                @empty {
                <li>empty records</li>
                }

            </ul>
        </div>
    </div>
</div>